<div class="cf tc">
    <div class="w-100 ph4">
            <p class="tc f3 measure center">The International School of Music Westcoast provides unique group music programs for children from 2 years of age.</p>
    </div>
    <div class="fl pa4 mw9">
        <div class="fl w-third-ns w-100 ph4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-music fa-stack-1x transparent"></i>
            </span>
            <p>Piano</p>
            <p>Nurturing a love and appreciation of music, with an emphasis on creativity and performance, the stimulating classroom environment focuses on developing music fundamentals.</p>
        </div>
        <div class="fl w-third-ns w-100 ph4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-bullhorn fa-stack-1x"></i>
            </span>
            <p>Aural</p>
            <p>ISM Westcoast's aim is to teach music as a language. The instruction is aurally based to maximise learning in young students, encouraging not only a love of music, but an understanding of music.</p>
        </div>
        <div class="fl w-third-ns w-100 ph4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-book fa-stack-1x"></i>
            </span>
            <p>Reading</p>
            <p>The concept of ISM courses is simple: what you hear, you sing; what you sing, you play; what you play, you read; what you read, you write.</p>
        </div>
    </div>
    <!-- <div class="measure-wide center ma4">
        <p class="f2">
                The Program
        </p>
        <p>
            ISM Westcoast currently runs pre-school music classes and piano classes 6 days a week at our two school locations - Wembley and Carine Glades. All of our pre-school and group piano classes are written specifically for children by Rosalind Thrift, a well
            respected Australian music educator.
        </p>
        <p>
            All programs are supported by speed variable disks and have been carefully structured to give the maximum benefit to each student, developing all technical and musical components, whilst still being fun and exciting.
        </p>
        <p>
            Individual piano lessons are available to Pianorama graduates as well as group theory classes. AMEB exams in Piano and Theory are available to Extension graduates.
        </p>
        <p>
            Our teachers are highly experienced, fully qualified teachers who are also ISM accredited.
        </p>
    </div> -->
</div>
