<div class="cf mv4-ns w-100 center">
    <div>
        <div class="tc">
            <p class="f1">Contact Us</p>
            <p>We'd love to hear from you!</p>
        </div>
    </div>
    <div>
        <div class="tc">
            <form name="sentMessage" id="contactForm"  action="https://formspree.io/jtnguyen236@gmail.com" method="POST" novalidate>
                <div>
                    <div class="w-80 center">
                        <div class="w-100 w-60-l center">
                            <div>
                                <input class="fl w-100 pa3 mv2 br2 ba" placeholder="Your name" type="text">
                            </div>
                            <div>
                                <input class="fl w-100 pa3 mv2 br2 ba" placeholder="Your email" type="email">
                            </div>
                            <div  class="ba b--black bg-white fl w-100 br2">
                                <select class="bg-transparent fl w-80 ma3 b--none">
                                    <option>Select class...</option>
                                    <option>Jitterbugs</option>
                                    <option>Beeboppers</option>
                                    <option>Pianorama Kindy</option>
                                    <option>Pianorama Junior</option>
                                    <option>Pianorama Intermediate/Primary</option>
                                </select>
                            </div>
                            <div>
                                <textarea class="pa3 fl w-100 h4 mv2 br2 ba" placeholder="Your message"></textarea>
                            </div>
                        </div>
                        <div class="fl w-100">
                                <button class="bg-transparent ba" type="submit">Send Message</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
