<div class="w-80-ns center mv4-ns">
    <h1>Enrolment Form</h1>

    <form action="https://formspree.io/jtnguyen236@gmail.com" method="POST">
        <fieldset class="form-group">
            <h2>Student Information</h2>
            <div class="w-100">
                <div class="w-50">
                    <label for="student_first_name"><p class="w-100">Student's First Name</p></label>
                    <input type="student_first_name" class="form-control" id="student_first_name" placeholder="Enter student's first name">
                </div>
                <div class="w-50">
                    <label for="student_surname"><p class="w-100">Student's Surname</p></label>
                    <input type="student_surname" class="form-control" id="student_surname" placeholder="Enter student's surname">
                </div>
            </div>
            <div class="w-100">
                <label>
          <h3>Gender</h3>
          <div class="radio">
            <label>
              <input type="radio" name="student_gender" id="male" value="male" checked>
              Male
            </label>
            </div>
            <div class="radio">
                <label>
              <input type="radio" name="student_gender" id="female" value="female">
              Female
            </label>
            </div>
            </label>
</div>
</fieldset>
<fieldset class="form-group">
    <h2>Parent Information</h2>
    <label for="parent_first_name">Parent's First Name</label>
    <input type="parent_first_name" class="form-control" id="parent_first_name" placeholder="Enter parent's first name">
    <label for="parent_surname">Parent's Surname</label>
    <input type="parent_surname" class="form-control" id="parent_surname" placeholder="Enter parent's surname">
    <label for="address">Address</label>
    <textarea class="form-control" id="address" rows="3" placeholder="123 Street Way"></textarea>
    <label for="home_phone">Home Phone</label>
    <input type="home_phone" class="form-control" id="home_phone" placeholder="Home Phone">
    <label for="mobile_phone">Mobile Phone</label>
    <input type="mobile_phone" class="form-control" id="mobile_phone" placeholder="Mobile Phone">
    <label for="email_address">Email Address</label>
    <input type="email_address" class="form-control" id="email_address" placeholder="Email Address">
</fieldset>
<fieldset class="form-group">
    <h2>Enrolment Info</h2>
    <label>
      Course
      <div class="checkbox">
        <label><input type="checkbox" value="">Jitterbugs</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Beeboppers</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Pianorama Junior - Kindy</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Pianorama Junior - PP/Year1</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Pianorama Primary</label>
    </div>
    </label>
    <br>
    <label>
      Location
      <div class="radio">
        <label>
          <input type="radio" name="location" id="carine_glades" value="location">
          Carine Glades
        </label>
    </div>
    <div class="radio">
        <label>
          <input type="radio" name="location" id="carine_glades" value="location">
          Wembley
        </label>
    </div>
    </label>
    <br>
    <label for="preferred_day">Preferred Day</label>
    <input type="preferred_day" class="form-control" id="preferred_day" placeholder="Monday, Tuesday...">
</fieldset>
<button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
