<div class="measure-wide pa4 center">
    <h1>Enrolment Form</h1>

    <form action="https://formspree.io/jtnguyen236@gmail.com" method="POST">
        <h2>Student Information</h2>
        <div class="w-100">
            <div>
                <input class="fl w-100 pa3 mv2 br2 ba" type="text" id="student_first_name" placeholder="Student's first name">
            </div>
            <div>
                <input class="fl w-100 pa3 mv2 br2 ba" type="text" id="student_surname" placeholder="Student's surname">
            </div>
            <h3>Gender</h3>
            <div class="ba b--black bg-white fl w-100 mv2 br2">
                <select class="bg-transparent fl w-100 ma3 b--none">
                        <option>Select Gender...</option>
                        <option>Male</option>
                        <option>Female</option>
                </select>
            </div>
        </div>
        <div>
            <h2>Parent Information</h2>
            <div>
                <div>
                    <input class="fl w-100 pa3 mv2 br2 ba" type="text" id="parent_first_name" placeholder="Parent's first name">
                </div>
                <div>
                    <input class="fl w-100 pa3 mv2 br2 ba" type="text" id="parent_surname" placeholder="Parent's surname">
                </div>
            </div>
            <textarea class="fl w-100 pa3 mv2 br2 ba" id="address" rows="3" placeholder="123 Street Way"></textarea>
            <input class="fl w-100 pa3 mv2 br2 ba" type="text" id="contact_number" placeholder="Contact Phone Number">
            <input class="fl w-100 pa3 mv2 br2 ba" type="text" id="email_address" placeholder="Email Address">
        </div>
        <h2>Enrolment Info</h2>
        <h3>Course</h3>
        <div class="ba b--black bg-white fl w-100 mv2 br2">
            <select class="bg-transparent fl w-100 ma3 b--none">
                    <option>Select class...</option>
                    <option>Jitterbugs</option>
                    <option>Beeboppers</option>
                    <option>Pianorama Kindy</option>
                    <option>Pianorama Junior</option>
                    <option>Pianorama Intermediate/Primary</option>
                </select>
        </div>
        <div class="ba b--black bg-white fl w-100 mv2 br2">
            <select class="bg-transparent fl w-100 ma3 b--none">
                    <option>Select location...</option>
                    <option>Wembley</option>
                    <option>Carine Glades</option>
                </select>
        </div>
        <div class="ba b--black bg-white fl w-100 mv2 br2">
            <select class="bg-transparent fl w-100 ma3 b--none">
                    <option>Select day...</option>
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                </select>
        </div>
</div>
<div class="fl w-100 pv4">
    <button class="bg-transparent ba b--black br2 pa3" type="submit">Submit</button>
</div>
</form>

</div>
