<div class="tc mw8 center">
	<div class="fl w-50-ns w-100 pa4">
		<p class="f3">Wembley</p>
		<p>
			Cambridge Forum
		</p>
		<p>
			Suite 18/350 Cambridge Street
		</p>
		<p>
			Wembley WA 6014
		</p>
		<img class="ba br2 dn db-ns center" src="https://maps.googleapis.com/maps/api/staticmap?center=-31.9402189,115.8074702&zoom=14&size=500x300&markers=color:blue|label:1|-31.9402189,115.8074702">
		<img class="ba br2 dn-ns" src="https://maps.googleapis.com/maps/api/staticmap?center=-31.9402189,115.8074702&zoom=14&size=300x200&markers=color:blue|label:1|-31.9402189,115.8074702">
	</div>
	<div class="fl w-50-ns w-100 pa4">
		<p class="f3">Carine Glades</p>
		<div>
			<p>
				Carine Glades Commercial Centre
			</p>
			<p>
				22/6 Davallia Road
			</p>
			<p>
				Duncraig WA 6023
			</p>
		</div>

		<img class="ba br2 dn db-ns center" src="https://maps.googleapis.com/maps/api/staticmap?center=-31.8449082,115.7843978&zoom=14&size=500x300&markers=color:blue|label:1|-31.8449082,115.7843978">
		<img class="ba br2 dn-ns" src="https://maps.googleapis.com/maps/api/staticmap?center=-31.8449082,115.7843978&zoom=14&size=300x200&markers=color:blue|label:1|-31.8449082,115.7843978">
	</div>
</div>
