<div class="tc mw8 center">
	<div class="fl w-50-ns w-100 pa4">
		<p class="f3">Wembley</p>
		<p>
			Cambridge Forum
		</p>
		<p>
			Suite 18/350 Cambridge Street
		</p>
		<p>
			Wembley WA 6014
		</p>
		<img class="ba br2 dn db-ns center" src={{ "/static/images/maps/wembleylarge.jpg" | prepend: site.baseurl }}>
		<img class="ba br2 dn-ns" src={{ "/static/images/maps/wembleysmall.jpg" | prepend: site.baseurl }}>
	</div>
	<div class="fl w-50-ns w-100 pa4">
		<p class="f3">Carine Glades</p>
		<div>
			<p>
				Carine Glades Commercial Centre
			</p>
			<p>
				22/6 Davallia Road
			</p>
			<p>
				Duncraig WA 6023
			</p>
		</div>

		<img class="ba br2 dn db-ns center" src={{ "/static/images/maps/carinelarge.jpg" | prepend: site.baseurl }}>
		<img class="ba br2 dn-ns" src={{ "/static/images/maps/carinesmall.jpg" | prepend: site.baseurl }}>
	</div>
</div>
